<h1>Listing users</h1>

<table id="users_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created At</th>
      <th>Approved</th>
      <th>Approval At</th>
      <th>Admin</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <%= content_tag_for(:tr, user) do %>
        <td><%= user.name %></td>
        <td><%= user.created_at_string %></td>

        <td>
          <%= link_to("No", [:approve, user], class: "button tiny secondary #{user.user_button_class}") unless user.approved? %>
          <%= link_to("Yes", [:remove_approval, user], class: "button tiny success #{user.user_button_class}") if user.approved? %>
        </td>

        <td><%= user.approval_at_string %></td>

        <td>
          <%= link_to(user.admin_string, [:toggle_admin, user], class: "button tiny expand #{user.admin_button_class}") %>
        </td>

        <td>
          <%= link_to("Delete", user, method: :delete, data: { confirm: "Are you sure?" }, class: "button tiny alert") %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>
