<%= form_for(@recipient) do |f| %>
  <% if @recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% @recipient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.label :url %>
      <%= f.url_field :url %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.label :reasons_for_support %>
      <%= f.text_area :reasons_for_support %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
