<h1><%= t(".title") %></h1>

<% if @recipients.any? %>
  <table id="recipients_table">
    <thead>
      <tr>
        <th><%= Recipient.human_attribute_name(:name) %></th>
        <th><%= Recipient.human_attribute_name(:total_donations) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipients.each do |recipient| %>
        <tr>
          <td><%= link_to recipient.name, recipient %></td>
          <td><%= number_to_currency recipient.total_donations %></td>
          <td><%= link_to t("defaults.show_link"), recipient %></td>
          <td><%= link_to t("defaults.edit_link"), edit_recipient_path(recipient) %></td>
          <% if recipient.destroyable? %>
            <td><%= link_to t("defaults.destroy_link"), recipient, method: :delete, data: { confirm: t("defaults.destroy_confirm") } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%= t("defaults.no_records", records: "recipients") %>
<% end %>

<br>

<%= link_to t("defaults.new_link", model: "Recipient"), new_recipient_path, class: "button" %>
