<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_recipient_path(@recipient) %> |
  <%= link_to 'Back', recipients_path %>
</p>

<p>
  <strong><%= Recipient.human_attribute_name(:name) %>:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong><%= Recipient.human_attribute_name(:url) %>:</strong>
  <%= link_to @recipient.url, @recipient.url %>
</p>

<p>
  <strong><%= Recipient.human_attribute_name(:reasons_for_support) %>:</strong>
  <%= @recipient.reasons_for_support %>
</p>

<p>
  <strong><%= Recipient.human_attribute_name(:categories) %>:</strong>
  <%= colorize_categories(@recipient.category_records) %>
  <%= link_to t(".new_category_link"), [:new, @recipient, :category_record] %>
</p>

<p>
  <strong><%= t(".donations_table_header") %>:</strong>

  <%= render "donations/donations_table", donations: @donations %>
</p>
