<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_recipient_path(@recipient) %> |
  <%= link_to 'Back', recipients_path %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Reasons for Support:</strong>
  <%= @recipient.reasons_for_support %>
</p>

<p>
  <strong>Categories:</strong>
  <%= colorize_categories(@recipient.category_records) %>
  <%= link_to t(".new_category_link"), [:new, @recipient, :category_record] %>
</p>

<p>
  <strong>My Giving History:</strong>

  <%= render "donations/donations_table", donations: @donations %>
</p>
