<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Edit', edit_recipient_path(@recipient) %> |
  <%= link_to 'Back', recipients_path %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipient.name %>
</p>

<p>
  <strong>Reasons for Support:</strong>
  <%= @recipient.reasons_for_support %>
</p>

<p>
  <strong>Categories:</strong>
  <%= colorize_categories(@recipient.category_records) %>
  <%= link_to 'Add a new category', [:new, @recipient, :category_record] %>
</p>

<p>
  <strong>Donation History:</strong>
  <%#= render 'donations/index', donations: @donations %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @donations.each do |donation| %>
        <tr>
          <td><%= donation.date.to_s(:long) %></td>
          <td class="accounting"><%= display_currency donation.amount %></td>
          <td><%= link_to 'Show', donation %></td>
          <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
          <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <tr>
        <td><strong>Total</strong></td>
        <td class="accounting"><strong><%= display_currency @donations.sum(:amount) %></strong></td>
        <th colspan="3"></th>
      </tr>
    </tbody>
  </table>
</p>
