<div class="text-center">
  <div class="super-title"><%= t(".title") %></div>

  <div class="sub-super-title">
    <%= t(".subtitle") %>
  </div>

  <% if current_user.present? %>
    <% if current_user.approved? %>
      <div class="super-button">
        <%= link_to t(".record_donation_button"), new_donation_path, class: "button" %>
      </div>

      <div class="super-links">
        <%= link_to( t(".donations"), [:donations]) %>
        | <%= link_to( t(".recipients"), [:recipients]) %>

        <% if current_user.admin? %>
          | <%= link_to( t(".users"), [:users]) %>
        <% end %>
      </div>
    <% else %>
      <div class="callout warning" data-closable>
        <button class="close-button" aria-label="Close alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
        <%= t(".approval_required_message") %>
      </div>
    <% end %>
  <% else %>
    <div class="super-button">
      <%= link_to t(".sign_in_or_sign_up_link"), "/auth/google_oauth2", class: "button", id: "sign_in" %>
    </div>
  <% end %>
</div>
