<div id="donations_table_container">
  <% if donations.any? %>
    <table id="donations_table">
      <thead>
        <tr>
          <th><%= Donation.human_attribute_name(:date) %></th>
          <th><%= Donation.human_attribute_name(:recipient) %></th>
          <th><%= Donation.human_attribute_name(:amount) %></th>
          <th><%= Donation.human_attribute_name(:status) %></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% donations.each do |donation| %>
          <tr>
            <td><%= donation.date.to_s(:long) %></td>
            <td><%= link_to donation.recipient, donation.recipient %></td>
            <td class="accounting"><%= display_currency donation.amount %></td>
            <td><%= donation.status %></td>
            <td><%= link_to t("defaults.show_link"), donation %></td>
            <td><%= link_to t("defaults.edit_link"), edit_donation_path(donation) %></td>
            <td><%= link_to t("defaults.destroy_link"), donation, method: :delete, data: { confirm: t("defaults.destroy_confirm") } %></td>
          </tr>
        <% end %>
        <tr>
          <td><strong>Total</strong></td>
          <td></td>
          <td class="accounting"><strong><%= display_currency donations.sum(:amount) %></strong></td>
          <th colspan="4"></th>
        </tr>
      </tbody>
    </table>
  <% else %>
    <%= t("defaults.no_records", records: "donations") %>
  <% end %>
</div>
