<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.label :recipient_id %>
      <%= f.text_field :recipient_id, class: "typeahead", onload: 'instantiateTypeahead()' %> # FIXME: doesn't work
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.label :recipient_id %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.select :recipient_id, Recipient.all.map { |r| [r.to_s, r.id] } %>
    </div>
    <div class="small-6 cell">
      <%= link_to t('.new_recipient_button'), new_recipient_path, class: "button warning right" %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.label :date %>
      <%= f.date_field :date %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.label :method %>
      <%= f.select :method, Donation.method_select_options %>
    </div>
  </div>

  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <%= f.label :status %>
      <%= f.select :status, Donation.status_select_options %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
