<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :amount, class: "right inline" %>
    </div>
    <div class="small-6 columns end">
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :recipient_id, class: "right inline" %>
    </div>
    <div class="small-6 columns">
      <%= f.select :recipient_id, Recipient.all.map { |r| [r.to_s, r.id] } %>
    </div>
    <div class="small-3 columns">
      <%= link_to 'Add new recipient', new_recipient_path, class: "button tiny" %>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :date, class: "right inline" %>
    </div>
    <div class="small-6 columns end">
      <%= f.text_field :date, class: 'datepicker' %>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :method, class: "right inline" %>
    </div>
    <div class="small-6 columns end">
      <%= f.select :method, Donation.method_select_options %>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= f.label :status, class: "right inline" %>
    </div>
    <div class="small-6 columns end">
      <%= f.select :status, Donation.status_select_options %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
