<p id="notice"><%= notice %></p>

<p>
  <strong><%= Donation.human_attribute_name(:amount) %>:</strong>
  <%= number_to_currency @donation.amount %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:recipient) %>:</strong>
  <%= @donation.recipient %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:date) %>:</strong>
  <%= @donation.date.to_s(:long) %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:method) %>:</strong>
  <%= @donation.method.try(:humanize) %>
</p>

<p>
  <strong><%= Donation.human_attribute_name(:status) %>:</strong>
  <%= @donation.status.humanize %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
