<%= form_for([@recipient, @category_record]) do |f| %>
  <% if @category_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category_record.errors.count, "error") %> prohibited this category_record from being saved:</h2>

      <ul>
      <% @category_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :recipient_id, value: @recipient.id %>

  <div class="field">
    <%= f.text_field :category %>
  </div>

  <% if CategoryRecord.count > 0 %>
    <p><%= t(".existing_categories") %></p>
    <p><%= colorize_categories CategoryRecord.select(:category).group(:category) %></p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
