<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", root_path %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if current_user && current_user.admin? %>
        <li class="divider"></li>
        <li><%= link_to 'Users', users_path %></li>
      <% end %>
      <li class="divider"></li>
      <li><%= link_to 'Donations', donations_path %></li>
      <li class="divider"></li>
      <li><%= link_to 'Recipients', recipients_path %></li>
      <li class="divider"></li>
      <li>
        <% if current_user %>
          <%= link_to "Sign out #{current_user.name}", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
