<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Home", root_path %></h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>

      <% if current_user %>
        <% if current_user.approved? %>
          <% if current_user.admin? %>
            <li><%= link_to 'Users', users_path %></li>
            <li class="divider"></li>
          <% end %>

          <li><%= link_to 'Donations', donations_path %></li>
          <li class="divider"></li>

          <li><%= link_to 'Recipients', recipients_path %></li>
          <li class="divider"></li>
        <% end %>

        <li><%= link_to "Sign out #{current_user.name}", signout_path, id: "sign_out" %></li>
      <% else %>
        <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      <% end %>
    </ul>
  </div>
</nav>
